header { margin: 0%;}
h1 {font-family: Arial, Helvetica, sans-serif;
    color: black;
text-align: center;
border: blue;
border-width: 1px;
border-style: dotted;}

body {
        font-family: Arial, Helvetica, sans-serif;
        color: #3200cc;
        text-align: center;
        text-transform: capitalize;
    }
    .whisky-glass{
        width: 50%;
        height: 40%;
    }
    .barrel {
        width: 50%;
        height: 40%;
    }
.whisky1 {
        width: 10%;
        height: 20%;
      }

    .whisky2 {
        width: 10%;
        height: 20%;
      }

@media only screen and (max-width: 600px) {
    img {width: 30%;
    height: 30%}
}

#menu{
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 4px;
}

#menu li{
    float: right;
    margin-right: 30px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    background-color: orange;
    border-bottom: 1px solid #777777;
}

 .background {
    background-color: rgb(91, 169, 176);
    background-size: contain;
    background-repeat: no-repeat;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: #3200cc;
}

li {font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color:#3200cc;
    height: auto;
}

.footer{
    padding: 1px;
	text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 1px;
    background-color: whitesmoke;
    z-index: auto;
}
    
    .drink-aware {
        font-size: large;
        color:#5c00ff;
        text-transform: capitalize;
    }

    .social-networks{
    text-align: center;
    padding: 0 5%;
}

    .social-networks li{
    display: inline;
    }
    
    .social-networks i{
    font-size: 200%;
    color: blue;
    
    }