header { margin: 0%;}
h1 {font-family: 'Antonio', sans-serif;
    color: black;}
.background {
    background-image: url('../images/background1.jpg');
    background-size: 100rem;
    background-repeat: no-repeat;}